<!DOCTYPE html>
<html>

<head>
  <title>Ghost Knowledge</title>
</head>

<body>
  <h1>Ghost Knowledge</h1>
  <form method="post" name="new">
    <input type="hidden" name="type" value="new_pledge">
    <label>Which essay would you like to pledge to?</label><br>
    <select name="agreement">
      {% for a in agreements %}
        <option value="{{a['id']}}"">{{a['content']}}</option>
      {% endfor %}
    </select><br><br>
    <label>Your Twitter handle:</label><br>
    <input type="text" name="twitter"><br><br>
    <label>Your email:</label><br>
    <input type="text" name="email"><br><br>
    <label>My intended contribution is </label>
    <select name="contribution">
      <option value="10">$10</option>
      <option value="20">$20</option>
      <option value="50">$50</option>
      <option value="100">$100</option>
      <option value="150">$150</option>
      <option value="200">$200</option>
      <option value="500">$500</option>
      <option value="1000">$1000</option>
    </select><br><br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>